<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dagboek</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <script src="script.js" defer></script>
  </head>

<body>
<!-- HET MENU -->
<nav>
      <ul>
        <li><a href="#"><img src="./logo.png" alt="Logo-vini-mini" class="viniminilogo"></a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/account">Sam's account</a></li>
        <li><a href="/uitloggen">Uitloggen</a></li>
      </ul>
  <img src="./gele-illustratie-04.png" alt="patroon" class="img-patroon">  
</nav>
<!-- EINDE MENU -->

<main>