<%- include('./partials/head.ejs') %>

<div class="account-van-sam">
  <img src="/jongetje-cirkel.png" class="profielfoto-sam"><h2>Sam de Groot    <p>02/06/2021</p>
</h2></img>
<br>
<li class="sam-lijst"><h3>E-mail <p>fabiennedegroot@hotmail.com ✎</p></h3></li>
<br><li class="sam-lijst"><h3>Telefoonnummer <p>+31 676893655 ✎</p></h3></li>
<br><li class="sam-lijst"><h3>Allergie <p>Ei, Pinda ✎</p></h3></li>

</div>


<%- include('./partials/foot.ejs') %>
