<%- include('./partials/head.ejs') %>

<!-- Titel -->
  <h1>Planning van Sam</h1>
<!-- Titel  end -->

<!-- Filteren -->
  <div class="dropdown">
  <button class="dropbtn">Kies het allergeen<span><ion-icon class="arrow-1" name="chevron-down-outline"></ion-icon></span></button>
  <div class="dropdown-content">

  <% categories.forEach(category => { %>
      <a href="/<%= category.titel %>"><%= category.titel %></a>
<% }); %>

  </div>
  </div>
<!-- Filteren einde -->


    <h2><ion-icon class="arrow-left" name="caret-back-outline"></ion-icon> Maart <ion-icon class="arrow-right" name="caret-forward-outline"></ion-icon></h2>

<div>

<div>
<!-- Checklist container -->
<div class="container">
  <div class="checklist">

<fieldset>

  <h3 class="checklist-h2">Checklist Maart</h3>

<!-- CHECKBOXEN -->
  <div>
    <input type="checkbox" id="pindahapje" name="check" value="pindahapje" label='pindapje'/>
    <label for="check">Stap-1 pindahapje</label>
  </div>

  <div>
    <input type="checkbox" id="account" name="check" value="account" label='account'/>
    <label for="check">Stap-2 pindahapje</label>
  </div>

  <div>
    <input type="checkbox" id="huisarts" name="check" value="huisarts" label='huisarts'/>
    <label for="check">Stap-3 pindahapje</label>
  </div>

  <div>
    <input type="checkbox" id="ontbijt" name="check" value="ontbijt" label='ontbijt' />
    <label for="check">Stap-4 pindahapje</label>
  </div>

  <div>
    <input type="checkbox" id="gesprek" name="check" value="gesprek"  label='gesprek'/>
    <label for="check">Stap-5 pindahapje</label>
  </div> 

  <div>
    <input type="checkbox" id="verjaardag" name="check" value="verjaardag" label='verjaardag'/>
    <label for="check">Stap-6 pindahapje</label>
  </div> 

  <div>
    <input type="checkbox" id="verjaardag" name="check" value="verjaardag" label='verjaardag'/>
    <label for="check">Stap-7 pindahapje</label>
  </div> 
  <div>
    <input type="checkbox" id="verjaardag" name="check" value="verjaardag" label='verjaardag'/>
    <label for="check">Stap-8 pindahapje</label>
  </div>
</fieldset>

  </div> 
</div>
<!-- Checklist container end -->

<!-- Dagboek deel -->

<div class="container">
    <section class="fieldset-dagboek">
        <h3 class="checklist-h2">Dagboek</h3>
      
    <label for="discription"><i>Wat wilt u noteren?</i>
      <br><input type="text" id="dagboek">
    </label>
      <br><button>Noteer</button>
    </section>
</div>

<!-- Dagboek deel end -->
</div>

<!-- calendar deel -->
<table id="calendar">
  <tbody>

<!-- weekdays -->
      <tr class="weekdays">
        <th scope="col">Maandag</th>
        <th scope="col">Dinsdag</th>
        <th scope="col">Woensdag</th>
        <th scope="col">Donderdag</th>
        <th scope="col">Vrijdag</th>
        <th scope="col">Zaterdag</th>
        <th scope="col">Zondag</th>
      </tr>

<!-- day other-month -->
        <td class="day other-month">
          <div class="date">28</div>
          <div class="event">
            <div class="event-desc">Stap-1 pindahapje
            </div>
            <div class="event-time">8:00</div>
          </div>
        </td>

        <td class="day other-month">
          <div class="date">29</div>
        </td>

        <td class="day other-month">
          <div class="date">30</div>
        </td>
<!-- day rij 1 -->
        <td class="day">
          <div class="date">1</div>
        </td>

        <td class="day">
          <div class="date">2</div>
          <div class="event">
          <div class="event-desc">Stap-2 pindahapje</div>

          <div class="event-time">14:00</div>
          </div>
          <div class="event">
          <div class="event-desc">Stap-3 pindahapje</div>

          <div class="event-time">15.00</div>
          </div>
        </td>

        <td class="day">
          <div class="date">3</div>
        </td>

        <td class="day">
          <div class="date">4</div>
        </td>
      </tr>

<!-- day rij 2 -->
      <tr>
        <td class="day">
          <div class="date">5</div>
        </td>
        <td class="day">
          <div class="date">6</div>
        </td>
        <td class="day">
          <div class="date">7</div>
          <div class="event">
            <div class="event-desc">Stap-4 pindahapje</div>
            <div class="event-time">7:30 tot 8:00</div>
          </div>
        </td>
        <td class="day">
          <div class="date">8</div>
        </td>
        <td class="day">
          <div class="date">9</div>
        </td>
        <td class="day">
          <div class="date">10</div>
        </td>
        <td class="day">
          <div class="date">11</div>
        </td>
      </tr>

<!-- day rij 3 -->
      <tr>
        <td class="day">
          <div class="date">12</div>
        </td>

        <td class="day">
          <div class="date">13</div>
        </td>

        <td class="day">
          <div class="date">14</div>
          <div class="event">
          <div class="event-desc">Stap-5 pindahapje</div>
          <div class="event-time">10:00</div>
          </div>
        </td>

        <td class="day">
          <div class="date">15</div>
        </td> 

        <td class="day">
          <div class="date">16</div>
        </td>

        <td class="day">
          <div class="date">17</div>
        </td>

        <td class="day">
          <div class="date">18</div>
        </td>
      </tr> 

<!-- day rij 4 -->
    <tr>
        <td class="day">
          <div class="date">19</div>
        </td>

        <td class="day">
          <div class="date">20</div>
        </td>

        <td class="day">
          <div class="date">21</div>
        </td>

        <td class="day">
          <div class="date">22</div>
        </td>

        <td class="day">
          <div class="date">23</div>
        </td>

        <td class="day">
          <div class="date">24</div>
        </td>

        <td class="day">
          <div class="date">25</div>
          <div class="event">
          <div class="event-desc">Stap-6 pindahapje</div>
          <div class="event-time">18:00</div>
          </div>
        </td>
      </tr>

<!-- day rij 5 -->
      <tr>
        <td class="day">
          <div class="date">26</div>
        </td>

        <td class="day">
          <div class="date">27</div>
        </td>

        <td class="day">
          <div class="date">28</div>
        </td>

        <td class="day">
          <div class="date">29</div>
        </td>

        <td class="day">
          <div class="date">30</div>
        </td>

        <td class="day">
          <div class="date">31</div>
          <div class="event">
          <div class="event-desc">Stap-7 pindahapje</div>
          <div class="event-time">21:00</div>
        </td>

        <td class="day other-month">        
          <div class="date">1</div>
          <div class="event">
          <div class="event-desc">Stap-8 pindahapje</div>
          </div>
        </td>
      </tr>
    </tbody>
</table>

</div>

<!-- calendar deel end -->

<!-- ICON INSTALLATION -->
<script
type="module"
src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script
nomodule
src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>
<!-- ICON INSTALLATION -->

</body>

<%- include('./partials/foot.ejs') %>
